*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
  width: 1140px;
  height: 534px;
  margin: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 711px;
  height: 456px;
  margin: 78px 0 0 0;
}

.content__details {
  width: 399px;
  height: 534px;
  margin: 0;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__textfield:active,
.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__textfield:hover),
.search-form__label:has(.search-form__checkbox:hover) {
  outline: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.result__video-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 18px;
  width: 212px;
}

.content__list-container {
  position: relative;
  height: 298px;
  margin-top: 23px;
  margin-left: 3px;
  overflow-y: scroll;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.content__video-card-description-container {
  width: 196px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.result__video-container iframe,
.result__video-container video {
  display: block;
  width: 100%;
  height: 100%;
}

.search-form__fieldset-title {
  margin-bottom: 7px;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  display: block;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.content__video-card-title {
  display: -webkit-box;
  overflow: hidden;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 3px;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-right: none;
  border-left: none;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__textfield::placeholder,
.search-form__label:hover .search-form__textfield {
  outline: none;
  text-decoration: none;
}

.button {
  height: 34px;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link_current {
  background-color: transparent;
}

.content__video-card:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:focus {
  outline: none;
}

.content__list .content__video-card:first-child {
  margin-top: 3px;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 0;
}
